.center {
    text-align: center;
}
.container-profile {
    position: relative;
}

.cover-image{
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.profile-image {
    position: absolute;
    border-radius:192px;
    width:192px;
    height:192px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.new-post {
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 300px;
    max-height: 50px;
    padding: 5px;
    margin-bottom: 20px;
}

.button {
    font-family: "Material Icons";
    font-size: 25px;
}


@media screen and (max-width: 560px) {
    .only-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 560px) {
    .only-mobile {
        display: none !important;
    }
}