@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.dark-theme{
    --theme-accent: #06f;
    --theme-background: #222;
    --theme-background-alt: #333;
    --theme-foreground: #fff;
    --theme-middleground: rgba(255, 255, 255, 0.1);
    --theme-middleground-over: rgba(255, 255, 255, 0.5);
}

.light-theme{
    --theme-accent: #06f;
    --theme-background: #eee;
    --theme-background-alt: #fff;
    --theme-foreground: #000;
    --theme-middleground: rgba(0, 0, 0, 0.1);
    --theme-middleground-over: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-middleground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-middleground-over);
}

.scroll {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    font-family: Roboto, sans-serif !important;

    background-color: var(--theme-background) !important;
    color: var(--theme-foreground) !important;
}

.navigation{
    width: 100%;
    padding: 8px 16px;

    background-color: var(--theme-background-alt);
    color: var(--theme-foreground);
}

.navigation-brand{
    font-size: 32px;
    font-weight: 900;
}

.post-container{
    background-color: var(--theme-background-alt);
    color: var(--theme-foreground);
    padding: 16px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.post-title{
    margin-bottom: 4px;
}

.post-emotes{
    text-align: right;
}

.anchor {
    position: absolute;
}

.emote {
    padding: 2px;
}

.emote-image {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    margin-right: 2px;
}

.emote-image-big {
    height: 24px;
    width: 24px;
    border-radius: 4px;
}

.emote-name {
    padding-left: 8px;
}

.emote-badge {
    position: absolute;
    background: var(--theme-accent);
    bottom: 0px;
    right:  0px;
    height:0.75rem;
    width:0.75rem;
    text-align: center;
    line-height: 0.75rem;;
    font-size: 0.5rem;
    border-radius: 50%;
    color:white;
    border:1px solid var(--theme-accent);
}


.emote-dialog{
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;

    background-color: var(--theme-background-alt);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    padding: 16px;
}

.emote-dialog-content {
    width: 300px;
    height: 250px;
}

.emote-item {
    padding-bottom: 4px;
    cursor: pointer;
}

.emote-title{
    font-weight: bold;
    font-size: larger;
}

.search-bar{
    display: flex;
    background-color: var(--theme-middleground);
    width: 100%;
    height:32px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 8px;
    padding-left: 8px;
    overflow: hidden;
}

.search-field {
    flex-grow: 1;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    user-select: none;
}

.search-field {
    color: var(--theme-foreground);
    flex-grow: 1;
    width: 100%;
    outline: none;
    border: none;
}

.search-icon{
    width: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    user-select: none;
}


.search-icon:active{
    background-color: rgba(255, 255, 255, 0.1);
}