@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.dark-theme {
    --theme-accent: #06f;
    --theme-accent-transparent: rgba(0, 102, 255, 0.5);
    --theme-background: #222;
    --theme-background-alt: #333;
    --theme-foreground: #fff;
    --theme-middleground: rgba(0, 0, 0, 0.3);
    --theme-middleground-over: rgba(0, 0, 0, 0.5);
    --theme-frontground: #404040;
    --theme-border: #666;
}

.light-theme {
    --theme-accent: #06f;
    --theme-accent-transparent: rgba(0, 102, 255, 0.5);
    --theme-background: #eee;
    --theme-background-alt: #fff;
    --theme-foreground: #222;
    --theme-middleground: rgba(0, 0, 0, 0.1);
    --theme-middleground-over: rgba(0, 0, 0, 0.5);
    --theme-frontground: #fff;
    --theme-border: #ccc;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-middleground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-middleground-over);
}


body {
    font-family: Roboto, sans-serif !important;

    background-color: var(--theme-background) !important;
    color: var(--theme-foreground) !important;
}

.container {
    width: 100%;
    max-width: 560px;
    padding: 16px;
    margin: 0 auto;
}

.anchor {
    position: relative;
}

.overable:hover {
    background-color: var(--theme-middleground);
    cursor: pointer;
}

.overable:active {
    background-color: var(--theme-middleground-over);
}

.scroll {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


@media screen and (max-width: 560px) {
    .only-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 560px) {
    .only-mobile {
        display: none !important;
    }
}

@keyframes loadingAnimation {
    0% {
        background-position: -560px 0
    }

    100% {
        background-position: +560px 0
    }
}

.loading {
    background: linear-gradient(270deg, var(--theme-background), var(--theme-background-alt), var(--theme-background));
    background-size: 300% 300%;

    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingAnimation;
    animation-timing-function: linear;
}