@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.dark-theme {
    --theme-accent: #06f;
    --theme-accent-transparent: rgba(0, 102, 255, 0.5);
    --theme-background: #222229;
    --theme-background-alt: #2a2a33;
    --theme-foreground: #fff;
    --theme-middleground: rgba(0, 0, 0, 0.3);
    --theme-middleground-over: rgba(0, 0, 0, 0.5);
    --theme-frontground: rgba(54, 54, 64, 0.9);
    --theme-border: #555560;

    --theme-alert-background: transparent;
    --theme-alert-foreground: rgb(218, 65, 65);
    --theme-alert-border: rgb(218, 65, 65);

    --theme-info-background: transparent;
    --theme-info-foreground: rgb(65, 144, 218);
    --theme-info-border: rgb(65, 144, 218);
}

.light-theme {
    --theme-accent: #06f;
    --theme-accent-transparent: rgba(0, 102, 255, 0.5);
    --theme-background: #eeeef9;
    --theme-background-alt: #f9f9ff;
    --theme-foreground: #224;
    --theme-middleground: rgba(0, 0, 0, 0.1);
    --theme-middleground-over: rgba(0, 0, 0, 0.5);
    --theme-frontground: rgba(255, 255, 255, 0.9);
    --theme-border: #aaa;

    --theme-alert-background: rgba(218, 65, 65, 0.25);
    --theme-alert-foreground: rgba(218, 65, 65);
    --theme-alert-border: transparent;

    --theme-info-background: rgba(65, 144, 218, 0.25);
    --theme-info-foreground: rgba(65, 144, 218);
    --theme-info-border: transparent;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-middleground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-middleground-over);
}


body {
    font-family: Roboto, sans-serif !important;

    background-color: var(--theme-background) !important;
    color: var(--theme-foreground) !important;

    transition: all 300ms;
}

.anchor {
    position: relative;
}

.overable:hover {
    background-color: var(--theme-middleground);
    cursor: pointer;
}

.overable:active {
    background-color: var(--theme-middleground-over);
}

.scroll {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


.container {
    width: 100%;
    max-width: 560px;
    padding: 16px 16px 0px;
    margin: 0 auto;
}

@media screen and (max-width: 560px) {
    .only-desktop {
        display: none !important;
    }

    .magic-container {
        width: 100%;
    }

    .magic-card {}

    .magic-spacer {
        padding-top: 0px;
    }
}

@media screen and (min-width: 560px) {
    .only-mobile {
        display: none !important;
    }

    .magic-container {
        width: 100%;
        max-width: 560px;
        padding: 0px 16px 16px;
        margin: 0 auto;
    }

    .magic-card {
        background-color: var(--theme-frontground);
        border-radius: 8px;
        overflow: hidden;
    }

    .magic-spacer {
        padding-top: 16px;
    }
}

@keyframes loadingAnimation {
    0% {
        background-position: -560px 0
    }

    100% {
        background-position: +560px 0
    }
}

.loading {
    background: linear-gradient(270deg, var(--theme-background), var(--theme-background-alt), var(--theme-background));
    background-size: 300% 300%;

    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingAnimation;
    animation-timing-function: linear;
}

.frontground-material {
    background-color: var(--theme-frontground);
    backdrop-filter: blur(8px);
}